
/*cards*/
.padre-cards{
    @include flex-colum-center;
    gap: 40px;
}
.card img{
    height: 150px;
}

/*carrusel*/
#carouselExample div img{
    height: 400px;
    width: 300px;
}

/*sobre mi*/
.gustos p{
    color: $color-txt;
}

#grilla-mi{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#gustos{
    grid-area: gustos;
}
#video{
    grid-area: video;
}
#foot{
    grid-area: footer;
}
#otros{
    grid-area: aside;
}